// Fonts
@import "bootstrap/scss/bootstrap";
@import "~datatables.net-bs5/css/dataTables.bootstrap5.css";

$font-family-base:'Newsreader', serif;
$bs-font-family: 'Newsreader', serif;
$bs-font-sans-serif: 'Newsreader', serif;
